<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Threefold token grid capacity">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="static/bootstrap.css" rel="stylesheet">

    <title>Threefold token grid capacity</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Threefold grid capacity</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Nodes capacity</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/farmers">Farmers</a>
                    </li> -->
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link pull-right" href="#" data-toggle="modal" data-target="#registerfarm">Register Farm</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Modals -->
    <div class="modal fade" id="registerfarm" tabindex="-1" role="dialog" aria-labelledby="registerfarmLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="/api/farmer_create" method="get">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerfarmLabel">Register Farm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="farmNameInput">Farm Name</label>
                            <input type="text" class="form-control" name="name" id="farmNameInput" placeholder="Enter Farm Name">
                        </div>
                        <div class="form-group">
                            <label for="organizationIdInput">Organization ID</label>
                            <input type="text" class="form-control" name="organization" id="oranizationIdInput" placeholder="Global IYO id">
                            <small id="organizationIdInputHelp" class="form-text text-muted">Itsyou.online organization ID.</small>
                        </div>
                        <div class="form-group">
                            <label for="walletAddressInput">TFT wallet address</label>
                            <input type="text" class="form-control" name="walletAddress" id="walletAddressdInput" placeholder="Enter TFT address">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    {% block body %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="static/form.js" type="text/javaScript"></script>
  </body>
</html>
